<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About me</h2>
                <h3 class="section-subheading text-muted">Growth Mindset</h3>
            </div>
        </div>

        <img class="img-responsive rounded mx-auto d-block" src="img/about/about-image.jpg"
            style="width: 90%; margin: 0 auto 3% auto;" alt="profile-picture">

        <div class="row">
            <div class="col-lg-12">
                <h4 class="service-heading">Developer &amp; Lifelong Leaner</h4>
                <p> 
                    I am currently in my final semester at Seneca College for the program Computer Programming and 
                    Analysis that I started in January of 2021 and have maintained a 4.0 GPA throughout the program. It has 
                    been a tough few years and the pandemic has taught me to be resilient and never give up. I’m currently 
                    building a few web applications by learning the material on my own. I enjoy working independently as 
                    well as in a group to create useful projects that can be adapted and configured to work in a variety of 
                    settings for larger scale projects. I have explored the React framework and made some simple projects 
                    like a To Do list application (can be viewed on Heroku: <a href="https://intense-depths-30796.herokuapp.com/" target="_blank">https://intense-depths-30796.herokuapp.com/</a>)
                    and an anonymous forum posting application using the latest encryption and authentication methods
                    (<a href="https://hidden-earth-93222.herokuapp.com/" target="_blank">https://hidden-earth-93222.herokuapp.com/</a>). I also collaborated with a group of 5 people during the 
                    Bell sponsored Hackathon to create an environmentally sustainable solution using technology 
                    (<a href="https://rocky-anchorage-47766.herokuapp.com/" target="_blank">https://rocky-anchorage-47766.herokuapp.com/</a>). Previously, I was working as an account manager at a 
                    staffing firm where I learned to communicate effectively and listen attentively to meet and exceed the 
                    clients expectations. I characterize myself as an extremely hard worker that's willing to go above and 
                    beyond because I know that many people depend on the work that I do and I'll be making a lot of 
                    people really happy by getting my assignments finished ahead of schedule. Time management is one of 
                    my strongest skills that I acquired during my time at the University of Waterloo where I studied the 
                    natural sciences while also juggling a few teaching assistant roles and working in residence as a 
                    community leader. I've learned to be engaging and thoughtful while also fostering an environment 
                    where students can create connections to make school life more enjoyable. I love to create and build 
                    out tools and projects so that we can increase efficiencies and have a more interconnected world. 
                    I mainly specialise in <code>Javascript</code>, <code>Node.js</code>, <code>React</code>,
                    <code>Ruby</code> and <code>C/C++</code>.<br />
                </p>

                <div class="text-center">
                    <a href="/George Petrovski - Resume.pdf" class="btn btn-xl" target="_blank">George Petrovski's Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>