<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome</div>
            <div class="intro-heading">I'm George Petrovski</div>
            <div class="intro-heading">
                <span class="typed" style="color: #f9004d; font-size: 0.8em;"></span>
            </div>

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function (event) {
                    var typed = new Typed('.typed', {
                        // Waits 1000ms after typing "First"
                        strings: [
                            'Developer.',
                            'Student.'
                        ],
                        smartBackspace: true,
                        typeSpeed: 30,
                        backSpeed: 30,
                        backDelay: 1500,
                        loop: true,
                        loopCount: Infinity,
                    });
                });
            </script>

            <a href="/about_detail/" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->